
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

/* Full-page container to center login box */
html, body {
  height: 100%;
  background-color: rgb(43, 43, 98);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Login box styling */
.container-box {
  width: 400px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
}

h2 {
  font-size: 2em;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

/* Input boxes */
.input-box {
  position: relative;
  width: 100%;
  margin: 20px 0;
  border-bottom: 2px solid white;
}

.input-box input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: white;
  padding: 0 35px 0 5px;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: white;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -10px;
  font-size: 0.8em;
  color: #fff;
}

.input-box .icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 1.2em;
}

.input-box textarea {
  width: 100%;
  height: 100px;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  font-size: 1em;
  color: white;
  padding: 5px 35px 5px 5px;
  resize: none;
}

.input-box textarea:focus ~ label,
.input-box textarea:valid ~ label {
  top: -10px;
  font-size: 0.8em;
  color: #fff;
}






/* Login button */
button {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  color: black;
  transition: 0.3s;
}

button:hover {
  background-color: #f0f0f0;
}

/* Register link */
.register-link {
  font-size: 0.9em;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.register-link p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.input-box .icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: rotateY(-50%);
  color: white;
  
}
















