* {
  font-family: 'Courier New', Courier, monospace;
}

.navbar, .nav-link, .navbar-brand {
  font-family: 'Courier New', Courier, monospace;
}


body {
  min-height: 100vh;
  margin: 0;
  flex-direction: column;  
  align-items: center;      
  background: linear-gradient(135deg, #4b6cb7, #182848);
  font-family: Arial, sans-serif;
}

/* Heading styling */
h1 {
  text-align: center;
  color: goldenrod;
  font-size: 60px;
  margin-top: 60px;     /* space from top of page */
  margin-bottom: 30px;  /* space above card */
}

.card {
  display: flex;
  flex-direction: row; /* image left, text right */
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin: 8px;
  margin-top: 16px;
  width: 800px;
}

.card-img-left {
  width: 150px;        /* fixed width for image */
  height: auto;
  object-fit: cover;    /* keeps image aspect ratio */
  border-radius: 10px 0 0 10px;
}

.card-text {
  display: flex;
  flex-direction: column; /* stack title, author, description */
  justify-content: center;
}

.card:hover {
  transform: translateZ(50px) scale(1.05) rotateY(2deg);
  box-shadow: 0 12px 30px rgba(0,0,0,0.4);
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid white;
  object-fit: cover;
}

.profile-info p {
  margin: 5px 0;
  font-size: 1.1em;
}