* {
  font-family: 'Courier New', Courier, monospace;
}

.navbar, .nav-link, .navbar-brand {
  font-family: 'Courier New', Courier, monospace;
}


body {
  min-height: 100vh;
  margin: 0;
  flex-direction: column;  
  align-items: center;      
  background: linear-gradient(135deg, #4b6cb7, #182848);
  font-family: Arial, sans-serif;
}

/* Heading styling */
h1 {
  text-align: center;
  color: goldenrod;
  font-size: 60px;
  margin-top: 60px;     /* space from top of page */
  margin-bottom: 30px;  /* space above card */
}

/*resources*/
.card {
  display: flex;
  flex-direction: row; /* image left, text right */
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin: 8px;
  margin-top: 16px;
  width: 800px;
}

.card-img-left {
  width: 150px;        /* fixed width for image */
  height: auto;
  object-fit: cover;    /* keeps image aspect ratio */
  border-radius: 10px 0 0 10px;
}

.card-text {
  display: flex;
  flex-direction: column; /* stack title, author, description */
  justify-content: center;
}

.card:hover {
  transform: translateZ(50px) scale(1.05) rotateY(2deg);
  box-shadow: 0 12px 30px rgba(0,0,0,0.4);
}


/* personal documents*/
.profile-pic-section{
  border-bottom: 2px solid white;
  margin-bottom: 5px;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
  color: white;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid white;
  object-fit: cover;
}

.profile-info p {
  margin: 5px 0;
  font-size: 1.1em;
}

.documents {
  color: white;
  text-align: center;
}

label {
  color: white;
}

.personal-details,
.contact-details,
.address-details,
.profile{
  border-bottom: 2px solid white;
  margin-bottom: 5px;
}



.personal-details,
.contact-details,
.address-details,
.profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 20px 40px; 
  padding: 10px 20px;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.input-box input,
.input-box select {
  padding: 5px 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}







/* downloads, uploads*/
table {
  width: 100%;
  border-collapse: collapse; /* removes double borders */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;
}


thead th {
  padding: 12px;
  background-color: rgba(0,0,0,0.3);
  color: white;
  text-align: left;
  font-size: 1rem;
}


tbody tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


td {
  padding: 12px;
  color: white;
  font-size: 0.95rem;
}


tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


td button {
  padding: 6px 14px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.3s;
}

td button:hover {
  background-color: rgb(230, 230, 230);
}











